@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}
.container {
  padding: 20px 6%;
}

.btn {
  background-color: #6a9739;
  color: white;
  border-style: none;
  padding: 15px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.btn:hover {
  background-color: #8bc34a;
}
/* navbar starts here */
.navbar {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-block: 15px;
  padding-inline: 25px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05); */
}
.navbar .logo img {
  width: 150px;
}
.navlinks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-navbar,
.right-navbar,
.responsive-navbar {
  display: flex;
  align-items: center;
}

.left-navbar li a,
.right-navbar li a,
.responsive-navbar li a {
  margin-left: 43px;
  color: #454342;
  transition: all ease 0.5s;
  position: relative;
}

.left-navbar li a:hover,
.right-navbar li a:hover,
.responsive-navbar li a:hover,
.left-navbar li a.active,
.right-navbar li a.active,
.responsive-navbar li a.active {
  color: #8bc34a;
}

.left-navbar li a::after,
.right-navbar li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #8bc34a;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: all ease 0.6s;
}
.left-navbar li a:hover::after,
.right-navbar li a:hover::after {
  width: 100%;
}
.fa-user {
  font-size: 1.25rem;
}
.responsive-navbar {
  display: none;
}

/* navbar ends here */

/* hero section starts here */
.hero {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  position: relative;
  width: 100%;
  height: 90vh;
}
.hero::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(images/background-overlay.png),
    linear-gradient(to right, #ffffff, #f6f4f1);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 400px;
  opacity: 0.3;
}

.hero-content h1 {
  font-family: "Merriweather", serif;
  font-size: 3.5rem;
}
.hero-content h4,
.hero-content h1,
.hero-content p,
.hero-content .headline-image,
.hero-content .btn {
  margin-block: 20px;
}
.hero-content p {
  color: #454342;
}

/* hero section ends here */

/* feature section starts here */
.features {
  background: #111111;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* align-items: start; */
  justify-content: center;
  padding-block: 40px;
}

.feature-card {
  background: #2f2f2f;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-inline: 10px;
  padding: 25px 40px;
}
.feature-img i {
  color: #8bc34a;
  font-size: 1.4rem;
}
.feature-text {
  color: white;
}
.feature-text h3 {
  font-family: "Merriweather", serif;
  font-size: 1.35rem;
  font-weight: 500;
}
.feature-text h4 {
  font-family: "Merriweather", serif;
  font-weight: 300;
  padding-block: 10px;
  font-size: 0.8rem;
}
/* feature sections ends here */

/*  best selling products section starts here */

.best-selling-products {
  padding: 70px 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.best-selling-products h1 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  margin-bottom: 20px;
}
.best-selling-products .headline-image {
  margin-block: 20px;
}

.best-selling-products .products {
  padding-block: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
}

.best-selling-products .products .product {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all ease 0.2s;
}

.best-selling-products .products .product:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
.product .product-text p {
  font-size: 0.8rem;
  color: #454342;
}
.product .product-text h4 {
  font-family: "Merriweather", serif;
  font-weight: 500;
  margin-top: 10px;
}
.best-selling-products .products .product .product-image img {
  width: 100%;
}
/* best selling ends here */

/* categories section starts here */
.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 2%;
  background-color: #f8f6f3;
  position: relative;
}
.categories .headline-image {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 0;
  width: 150px;
  transform: translate(-50%, -50%);
}
.categories .headline-image img {
  width: 100%;
}
.categories .card {
  width: 100%;
  max-width: 380px;
  padding: 40px 40px;
  padding-bottom: 160px;
  border-style: none;
  border-radius: 7px;
  background-color: white;
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 300px;
}
.categories #card1 {
  background-image: url(images/background-overlay-1.jpg);
}
.categories #card2 {
  background-image: url(images/background-overlay-2.jpg);
}
.categories #card3 {
  background-image: url(images/background-overlay-3.jpg);
}
.categories .card h3 {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  margin-block: 20px;
  font-weight: 700;
}
.categories .card p {
  color: #454342;
  margin-block: 20px;
}

/* categories section ends here */

/* guidlines */
.guidelines {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.guidelines .firstrow {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 2%;
  gap: 50px;
  font-size: 1.25rem;
  font-family: "Merriweather", serif;
}
.guidelines .secondrow {
  background-color: #f8f6f3;
  text-align: center;
  padding: 30px 2%;
}
@media (max-width: 1200px) {
  .hero-image img {
    width: 400px;
  }
  .features {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
  /* best selling products */
  .best-selling-products {
    padding-inline: 2%;
  }
  /* categories section */
  .categories {
    flex-direction: column;
    gap: 20px;
  }
  .categories .card {
    max-width: 100%;
    padding-bottom: 40px;
    background-size: 190px;
  }
}

@media (max-width: 900px) {
  /* navbar */
  .left-navbar,
  .right-navbar {
    display: none;
  }
  .navlinks {
    justify-content: right;
  }
  /* hero section */
  .responsive-navbar {
    display: flex;
    font-size: 1.25rem;
  }
  .hero-content h1 {
    font-size: 2.5rem;
  }
  .hero-content h4 {
    font-size: 0.8rem;
  }
  .hero-content p {
    font-size: 1rem;
  }

  /* best selling products */
  .best-selling-products .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  /* hero */
  .hero {
    flex-wrap: wrap;
    height: max-content;
  }

  .hero-image img {
    width: 100%;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* feature section */
  .features {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 550px) {
  .best-selling-products .products {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  .best-selling-products .products .product {
    max-width: 100%;
    width: 100%;
    padding-inline: 2%;
    margin-block: 20px;
  }
  .best-selling-products .products .product:hover {
    box-shadow: none;
  }
}
